* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@media (max-width: 430px) {
  .head {
    height: 190px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: #ff9d3a;
  }

  .selection {
    color: #fff;
    font-size: 12px;
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202020;
    border-radius: 20px;
  }
}
